{% extends "members/base.html" %}
{% block content %}
	<div class="container">
		<div class="row">
			<h1>Team members  </h1>
			&nbsp;&nbsp;
			<div class="col-md-8">
	            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'member-add' %}">+</a>
	        </div>
		</div>
		<p class="text-secondary"> You have {{members|length}} team member{% if members|length != 1 %}s{% endif %}. </p>
	</div>
	<main role="main" class="container">
	    <div class="row">
	        <div class="col-md-4">
				{% for member in members %}
					<div class="member-item content-section" >
				    	<a class="fill-div" href="{% url 'member-edit' member.id%}">
					   		<div class='row'>
					          <h4 class="member-name">{{ member.f_name}} {{ member.l_name }}</h4>
					          {% if member.is_admin %} <p class="text-secondary">(admin) </p>{%endif%}
					        </div>
					          <p class="text-secondary">{{ member.phone_number }}</p>
					          <p class="text-secondary">{{ member.email }}</p>
					        
				    	</a>
				    </div>
			    {% endfor %}
	    	</div>
	    </div>
    </main>

{% endblock content %}